In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data=data.drop(columns=['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
# Convert categorical variables to numerical variables
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])

In [6]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# One-hot encoding for categorical variables"geography"
geo_encoder = OneHotEncoder()
geo_encoded = geo_encoder.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=geo_encoder.get_feature_names_out(['Geography']))
data = pd.concat([data.drop(columns=['Geography']), geo_encoded_df], axis=1)

In [8]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [9]:
# independent and dependent variables
# Regression
x= data.drop(columns=['EstimatedSalary'], axis=1)
y = data['EstimatedSalary']

In [10]:
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [11]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [12]:
# train-test split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((8000, 12), (2000, 12), (8000,), (2000,))

In [14]:
# scalling 
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [15]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [16]:
y_train

9254    179093.26
1561    195978.86
1670     85891.02
6087    153080.40
6669     39488.04
          ...
5734     69381.05
5191       706.50
5390     92220.12
860      97508.04
7270     53581.14
Name: EstimatedSalary, Length: 8000, dtype: float64

In [18]:
#save  encoder and scaler
with open('geo_encoder.pkl', 'wb') as f:
    pickle.dump(geo_encoder, f)
with open('label_encoder.pkl', 'wb') as f:
    pickle.dump(label_encoder, f)
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

# ANN Regression Model Implementation

In [21]:
# Building the model
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Create a Sequential model
model = Sequential(
    [
        Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
        Dense(32, activation='relu'),
        Dense(1)
    ]
)

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

model.summary()

c:\ML project\venv\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [23]:
# setup tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "regression_logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

# Early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [24]:
# TRain the model
history = model.fit(x_train, y_train, epochs=100,validation_data=(x_test, y_test), callbacks=[tensorboard_callback, early_stopping])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 13353513984.0000 - mae: 100187.2422 - val_loss: 13001532416.0000 - val_mae: 98489.9062
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 13228975104.0000 - mae: 99514.4922 - val_loss: 12661890048.0000 - val_mae: 96769.6484
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 12632464384.0000 - mae: 96898.8750 - val_loss: 11775309824.0000 - val_mae: 92279.4922
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 11687818240.0000 - mae: 92101.0625 - val_loss: 10297205760.0000 - val_mae: 84832.2109
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 10032412672.0000 - mae: 83840.6719 - val_loss: 8428108800.0000 - val_mae: 75393.5859
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 8060525056.0000 - mae: 73617.5859 - val_loss: 6550358016.0000 - val_mae: 66073.3281
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 6129882624.0000 - mae: 64051.1406 - val_loss: 5047251456.0000 - val_mae: 58530.2656
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 4796165120.0000 - mae: 57064.2070 - val_loss: 4117447680.0000 - val_mae: 53781.0078
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3968093952.0000 - mae: 52942.0039 - val_loss: 3693354496.0000 - val_mae: 51659.2148
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3621809152.0000 - mae: 51242.1016 - val_loss: 3545530112.0000 - val_mae: 51003.1094
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3395123968.0000 - mae: 49770.6562 - val_loss: 3498937856.0000 - val_mae: 50799.8359
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3419000832.0000 - mae: 50204.5000 - val_loss: 3477431296.0000 - val_mae: 50701.5586
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3418463232.0000 - mae: 50213.7344 - val_loss: 3459759872.0000 - val_mae: 50607.1250
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3420241920.0000 - mae: 50362.9297 - val_loss: 3445755648.0000 - val_mae: 50533.9492
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3387156992.0000 - mae: 49966.4219 - val_loss: 3434095104.0000 - val_mae: 50472.8789
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3355142912.0000 - mae: 49587.8438 - val_loss: 3423490816.0000 - val_mae: 50419.5977
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3346678784.0000 - mae: 49595.7031 - val_loss: 3415620608.0000 - val_mae: 50378.6523
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3402231040.0000 - mae: 50288.3984 - val_loss: 3407329024.0000 - val_mae: 50335.0898
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3368216832.0000 - mae: 49868.8164 - val_loss: 3401294336.0000 - val_mae: 50309.4844
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 3312019968.0000 - mae: 49566.9570 - val_loss: 3394658560.0000 - val_mae: 50273.5000
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3353367040.0000 - mae: 49858.1836 - val_loss: 3391200256.0000 - val_mae: 50259.6250
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3274182144.0000 - mae: 49076.3984 - val_loss: 3385170944.0000 - val_mae: 50224.5859
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3385908992.0000 - mae: 50223.8672 - val_loss: 3383208192.0000 - val_mae: 50219.8750
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3336729088.0000 - mae: 49726.0625 - val_loss: 3378866688.0000 - val_mae: 50195.0977
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3315916544.0000 - mae: 49608.7188 - val_loss: 3377110016.0000 - val_mae: 50187.7930
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 3296653056.0000 - mae: 49451.4258 - val_loss: 3373586432.0000 - val_mae: 50167.8867
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3323129600.0000 - mae: 49586.0156 - val_loss: 3371947008.0000 - val_mae: 50161.8750
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3342464768.0000 - mae: 49845.3359 - val_loss: 3370826496.0000 - val_mae: 50153.6680
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3345199104.0000 - mae: 49964.0273 - val_loss: 3368678912.0000 - val_mae: 50144.9453
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3330622720.0000 - mae: 49721.5898 - val_loss: 3366292480.0000 - val_mae: 50132.2539
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3296355584.0000 - mae: 49462.4727 - val_loss: 3365539328.0000 - val_mae: 50129.9492
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3336794112.0000 - mae: 49853.9336 - val_loss: 3364884736.0000 - val_mae: 50129.8633
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3290357760.0000 - mae: 49412.8242 - val_loss: 3363971584.0000 - val_mae: 50122.8906
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3273735168.0000 - mae: 49055.8594 - val_loss: 3364297984.0000 - val_mae: 50125.7852
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3296584960.0000 - mae: 49298.8867 - val_loss: 3362125824.0000 - val_mae: 50113.0547
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3302437632.0000 - mae: 49509.1406 - val_loss: 3360502784.0000 - val_mae: 50106.2266
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3230940672.0000 - mae: 48742.8359 - val_loss: 3359332608.0000 - val_mae: 50099.4570
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3328660224.0000 - mae: 49717.0664 - val_loss: 3359725568.0000 - val_mae: 50104.1641
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 3308880384.0000 - mae: 49645.5781 - val_loss: 3358401024.0000 - val_mae: 50091.8203
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3247696384.0000 - mae: 49024.2812 - val_loss: 3357795328.0000 - val_mae: 50089.1797
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3288854016.0000 - mae: 49340.1094 - val_loss: 3358796800.0000 - val_mae: 50101.0508
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3316412672.0000 - mae: 49479.9180 - val_loss: 3357369856.0000 - val_mae: 50089.0039
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3282921728.0000 - mae: 49349.1016 - val_loss: 3357971968.0000 - val_mae: 50097.1953
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3281966592.0000 - mae: 49345.1797 - val_loss: 3356542464.0000 - val_mae: 50085.7148
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3377731072.0000 - mae: 50257.7969 - val_loss: 3356713472.0000 - val_mae: 50089.9297
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3259960064.0000 - mae: 49216.8984 - val_loss: 3356747776.0000 - val_mae: 50089.9297
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3291186944.0000 - mae: 49348.0898 - val_loss: 3356352256.0000 - val_mae: 50088.0039
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3285540608.0000 - mae: 49493.0430 - val_loss: 3356613120.0000 - val_mae: 50090.8164
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3362557952.0000 - mae: 49983.5664 - val_loss: 3357536512.0000 - val_mae: 50097.6484
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3282521344.0000 - mae: 49423.2227 - val_loss: 3356795392.0000 - val_mae: 50093.0234
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3372813824.0000 - mae: 50212.2578 - val_loss: 3357614848.0000 - val_mae: 50100.3125
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3271758336.0000 - mae: 49414.3906 - val_loss: 3357245952.0000 - val_mae: 50097.2266
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3253472000.0000 - mae: 49210.7695 - val_loss: 3355937024.0000 - val_mae: 50087.1094
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3356378112.0000 - mae: 49843.2422 - val_loss: 3355795200.0000 - val_mae: 50084.4062
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3312581120.0000 - mae: 49694.1992 - val_loss: 3357131264.0000 - val_mae: 50095.1797
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3297754112.0000 - mae: 49464.8047 - val_loss: 3356043520.0000 - val_mae: 50087.5039
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3269040128.0000 - mae: 49171.0508 - val_loss: 3354463744.0000 - val_mae: 50076.0352
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3283561472.0000 - mae: 49340.9062 - val_loss: 3356203776.0000 - val_mae: 50091.2227
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3285117952.0000 - mae: 49380.5469 - val_loss: 3356689152.0000 - val_mae: 50093.2852
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3299963136.0000 - mae: 49500.3633 - val_loss: 3356835328.0000 - val_mae: 50095.2891
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3296213504.0000 - mae: 49547.2969 - val_loss: 3357005568.0000 - val_mae: 50096.3203
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3276141056.0000 - mae: 49369.7031 - val_loss: 3355476992.0000 - val_mae: 50083.3398
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3320889344.0000 - mae: 49717.1914 - val_loss: 3356605952.0000 - val_mae: 50091.7305
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3256090624.0000 - mae: 49210.2734 - val_loss: 3357467904.0000 - val_mae: 50100.2461
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 3295157248.0000 - mae: 49299.3281 - val_loss: 3357011712.0000 - val_mae: 50093.5781
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 3324714496.0000 - mae: 49783.4414 - val_loss: 3357795840.0000 - val_mae: 50104.8047
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3355203584.0000 - mae: 50150.5586 - val_loss: 3356928256.0000 - val_mae: 50097.2930

In [26]:
# load tensorboard extension
%load_ext tensorboard
%tensorboard --logdir regression_logs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 17776), started 0:00:09 ago. (Use '!kill 17776' to kill it.)

In [27]:
# Evaluate the model
loss, mae = model.evaluate(x_test, y_test)
print(f"Mean Absolute Error: {mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3414411520.0000 - mae: 50776.9062
Mean Absolute Error: 50076.03515625

In [28]:
#make predictions
predictions = model.predict(x_test)
predictions[:5]

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

array([[ 89457.39],
       [ 94309.99],
       [ 96602.1 ],
       [100903.38],
       [ 99152.18]], dtype=float32)

NOTE= we can now deploy the model to a web app using streamlit as already discussed in the Ann  for classification model notebook.